.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-duration);

  &--open {
    pointer-events: all;
    opacity: 1;
  }

  &--results &__new-game {
    display: none;
  }

  &__inner-wrapper {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    padding: 10px;
  }

  &__btns {
    width: 100%;
    display: flex;
    column-gap: 5px;

    & > .btn {
      width: 100%;
    }
  }

  &__win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    font-size: 20px;
    margin-bottom: 10px;

    &-text {
      color: rgb(51, 255, 0);
      font-weight: 700;
    }
  }

  &__content {
    width: 100%;
  }

  &__results {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-size: 16px;
    margin-bottom: 10px;

    &-title {
      font-size: 20px;
      font-weight: 700;
    }

    &-empty {
      font-size: 18px;
      padding-block: 10px;
    }

    &-table {
      width: 100%;
      border-collapse: collapse;
      text-align: center;

      th,
      td {
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      }

      th {
        font-weight: 700;
      }
    }
  }
}
